/* Global color palette */
:root {
  --bg: #fffffd;
  --ink: #910d0b;
  --accent-1: #e80d0b;
  --accent-2: #f5bdbc;
  --accent-3: #e6554e;
  --accent-4: #fe4f0f;
  --accent-5: #fa9467;
  --accent-6: #f7b07e;
  --accent-7: #ffa73c;
  --accent-8: #f6efd3;
}
