<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}KNIGHT HACKS{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/colors.css" />
    <link rel="stylesheet" href="/static/css/background.css" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <main class="page">

      

      <div class="swirl swirl-1" aria-hidden="true"></div>
      <div class="swirl swirl-2" aria-hidden="true"></div>
      <div class="swirl swirl-3" aria-hidden="true"></div>
      <div class="swirl swirl-4" aria-hidden="true"></div>
      <div class="swirl-line swirl-line-1" aria-hidden="true"></div>
      <div class="swirl-line swirl-line-2" aria-hidden="true"></div>
      <div class="swirl-line swirl-line-3" aria-hidden="true"></div>
      <div class="center-content">
        {% block content %}{% endblock %}
      </div>
    </main>
    {% block scripts %}{% endblock %}
  </body>
</html>
