{% extends "base.html" %}

{% block title %}Base Page{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="/static/css/index.css" />{% endblock %}

{% block content %}
  <script>
    window.location.replace('/record');
  </script>
{% endblock %}

{% block scripts %}
<script>
  document
    .getElementById("actionBtn")
    ?.addEventListener("click", function () {
      this.classList.add("pushed");
      setTimeout(() => this.classList.remove("pushed"), 250);
    });
</script>
{% endblock %}
